:root {
    color-scheme: light dark;
}

body {
    padding: 10px;

    font-family: system-ui;
    text-align: center;
}

.excludelist {
    width: 20em;
    height: 30em;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
